---
import Container from "../ui/Container.astro";
import SectionHeader from "../ui/SectionHeader.astro";
import { ABOUT } from "../../data/about";
---

<section id="aboutus">
    <Container>
        <div class="max-w-4xl mx-auto">
            <SectionHeader
                badge={ABOUT.badge}
                title={ABOUT.title}
                description=""
            />
        </div>

        <div class="about-grid">
            <div class="about-content">
                {ABOUT.paragraphs.map((paragraph) => <p>{paragraph}</p>)}
            </div>

            <div class="about-stats">
                {
                    ABOUT.stats.map((stat) => (
                        <article class="about-stat">
                            <h3>{stat.value}</h3>

                            <span>{stat.label}</span>
                        </article>
                    ))
                }
            </div>
        </div>
    </Container>
</section>
